@import "hack-font/build/web/hack.css";

body {
    background-color: lightgray;
    font-family: sans-serif;
    margin: 1%;
}

main {
    display: flex;
}
.panel {
    width: 50%;
    height: 25vw;
}

.full {
    width: 98%;
    height: 80vh;
}

.log output {
    display: block;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    font-family: Hack, Ubuntu, sans-serif;
    color: green;
    background-color: black;
}
