@import "hack-font/build/web/hack.css";

body {
    background-color: #efefef;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 20px;
}

main {
    /*display: flex;*/
}
.panel {
    display: block;
    padding: 1vw;
    border-top: 1px solid #484848;
}

.panel:first-child {
    border-top: none;
}

.log {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 48vw;
    font-family: Hack, monospace, sans-serif;
    overflow-wrap: anywhere;
}

table {
    border-top: 1px solid #484848;
    width: 100%;
    overflow-wrap: break-word;
}

table:first-child {
    border-top: none;
}

th, td {
    min-height: 10px;
    text-align: right;
    vertical-align: top;
}

th:first-child, td:first-child {
    text-align: left;
    /*font-weight: bold;*/
}

.controls {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 1vw;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid darkgray;

    transition: all 0s;
    transition-delay: 0ms;
}

.controls .nomobile {
    display: inline-block;
}

button {
    padding: 5px 10px;
    border: 1px solid #484848;
    outline: none;
    border-radius: 2px;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
    display: inline-block;
    color: #484848;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    background-color: #fefefe;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: 50%;
}

button:hover {
    background-color: #484848;
    color: white;
}

button[disabled], button[disabled]:hover {
    cursor: default;
    color: #909090;
    background-color: white;
    border-color: #909090;
}

button[loading] {
    background-image: url('/assets/images/loading.gif');
    color: transparent;
}

button[loading]:hover {
    color: transparent !important;
    background-color: transparent !important;
}

#editor {
    position: fixed;
    top: 6vh;
    left: 2vw;
    width: 96vw;
    height: 90vh;
    z-index: 999;
}

button.status {
    cursor: default;
}

button.status:hover {
    border: 1px solid #484848;
    color: #484848;
    background-color: #fefefe;
}

button[active].status {
    background-color: #23a523;
    color: white;
}

button[inactive].status {
    background-color: #a52323;
    color: white;
}

.login {
    width: 40vw;
    margin: 20vh auto;
}

.login input {
    font-size: 1.5em;
    display: block;
    margin: 2vw auto;
    width: 100%;
}

.login button {
    font-size: 1.5em;
    display: block;
    margin: 5vw auto;
}

form.logout {
    float: right;
}
@media screen and (max-width: 1005px) {
    .log {
        width: 100%;
    }
}
@media screen and (max-width: 859px) {
    .login {
        width: 60vw;
        margin: 20vh auto;
    }
    .controls .nomobile {
        display: none;
    }
}

@media screen and (max-width: 505px) {
    .login {
        width: 80vw;
        margin: 20vh auto;
    }

    .log {
        font-size: 3vw;
    }
}
