{% extends 'base.html.twig' %}

{% block main %}
    <div class="panel log full" data-controller="log">
        <h3>Log</h3>
        <output data-log-target="console">
            ... fetching log
        </output>
    </div>
{% endblock %}