{% extends 'base.html.twig' %}

{% block main %}
    <div class="panel" data-controller="log" data-log-url-value="{{ path('app_dashboard_pvlog') }}">
        <h3>PV</h3>
        <pre class="log full-width full-height" data-log-target="console">
            ... fetching
        </pre>
    </div>

{#    <div class="panel" data-controller="log" data-log-url-value="{{ path('app_dashboard_syslog') }}">#}
{#        <h3>System</h3>#}
{#        <pre class="log full-width" data-log-target="console">#}
{#            ... fetching#}
{#        </pre>#}
{#    </div>#}
{% endblock %}